@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url('./images/pattern-background-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    background-color: hsl(228, 56%, 98%);
    width: 350px;
    height: 520px;
    padding: 1rem auto;
    margin: 1rem auto;
    border-radius: 1rem;
}

.img1 {
    width: 350px;
    height: 150px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

h1{
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

.p1 {
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    text-align: center;
    padding: 1rem;
}


.div1 {
    background-color: hsl(225, 17%, 95%);
    width: 300px;
    height: 5rem;
    margin: auto;
    padding: 0.8rem;
    font-size: 1.0rem;  
    border-radius: 0.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img2 {
    width: 40px;
    outline: 2px solid hsl(225, 100%, 94%);
    border-radius: 60%;
    /* margin-left: 1rem; */
    /* display: flex; */
}

.span1 {
    margin-right: 2.9rem;
}

.p4 {
    font-size: 0.9rem;
    width: 300px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: aliceblue;
    background-color: hsl(223, 88%, 44%);
    text-align: center;
    margin: 2rem 1.5rem;
    border: none;
}

.pbaba {
    text-align: center;
}

.p5 {
    color: hsl(225, 22%, 54%);
    text-decoration: none;
}

.p5:hover {
    color: black;
    cursor: pointer;
}

.span2:hover {
    color: rgba(128, 0, 128, 0.503);
    cursor: pointer;
}

.p4:hover {
    background-color: rgba(128, 0, 128, 0.503);
    cursor: pointer;
}


.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}